<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>免費訂閱體驗</title>
  </head>
  <body>
    <h5>您的好友xxx@gmail.com贈與您一次免費訂閱體驗</h5>
    <h5>您的郵箱：</h5>
    <input type="text">

    <button type="button" class="btn btn-primary">發送期刊</button>

    <h5>最多選擇3種期刊</h5>

    <h3>今日最新</h3>

    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">

    <h3>精品推薦</h3>

    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">

  </body>
</html>