{% load static %}

<!doctype html>
<html lang="en">
  <style>
    input {
      height: 25px;
    }
  </style>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>免费订阅体验</title>
  </head>
  <body>
    <h3>您的好友{{hidden_email}}赠与您一次免费订阅体验</h3>

    <form action="{% url 'polls:new_subscribe' user.uuid %}" method="post">
      {% csrf_token %}

      <p style="color:blue;">您的邮箱：</p>

      <input id="POST-name" type="text" name="email">

      <button type="submit" value="Submit" style="height:30px;">发送期刊</button>

      <h2 style="color:red;">{{error_info}}</h2>

      <p style="color:blue;">最多选择3种期刊</p>

      <h3>今日最新</h3>

      {% for magazine in magazines %}
      {% if magazine.todayUpdated %}
      <br>
      <div>
        <input style="float:left;" type="checkbox" name="{{magazine.title}}">
        <h2 style="color:blue;">{{magazine.titleAndDate}}</h2>
      </div>

        <img src="{% static 'images/' %}{{magazine.thumbnailPath}}" width="300" height="480">
      {% endif %}
      {% endfor %}

      <br>
      <br>
      <h3>精品推荐</h3>
      {% for magazine in magazines %}
      {% if not magazine.todayUpdated %}
      <br>
      <div>
        <input style="float:left;" type="checkbox" name="{{magazine.title}}">
        <h2>{{magazine.titleAndDate}}</h2>
      </div>

        <img src="{% static 'images/' %}{{magazine.thumbnailPath}}" width="300" height="480">
      {% endif %}
      {% endfor %}

    </form>

  </body>
</html>