{% load static %}

<!doctype html>
<html lang="en">
  <style>
    table {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }

    table td {
      border: 1px solid black;
    }

    table th {
      border: 1px solid black;
    }

    table.pay td {
      width: 100px;
    }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

    <p>您的訂閱請見附件</p>
    <h2>今日更新 {{date|date:"Y-m-d"}} <a href="{{site}}{% url 'polls:update_page' user.uuid user.key %}">更改訂閱</a></h2>

    {% for magazine in magazines %}
    {% if magazine.todayUpdated %}
        <br>
        <h2>{{magazine.titleAndDate}}</h2>
        <img src="{{site}}{% static 'images/' %}{{magazine.thumbnailPath}}" width="300" height="480">
    {% endif %}
    {% endfor %}

    <h2>您的會員權利</h2>

    <table class="vip">
      <thead>
        <tr>
          <th scope="col">可選期刊數</th>
          <th scope="col">已邀請好友</th>
          <th scope="col">訂閱結束時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.invited_count|add:3}}</td>
          <td>{{user.invited_count}}</td>
          <td>{{user.expire_date|date:"Y-m-d"}}</td>
        </tr>
      </tbody>
    </table>

    <p>(每<a href="{{site}}{% url 'polls:invite_page' user.uuid %}">邀請一名好友</a>加入會員，可多解鎖一種期刊)</p>

    <h2>續訂</h2>

    <table class="pay">
      <tbody>
        <tr>
          <td><a href="{{site}}{% url 'polls:pay' user.uuid 1 %}">1個月</a></td>
          <td><a href="{{site}}{% url 'polls:pay' user.uuid 3 %}">3個月</a></td>
          <td><a href="{{site}}{% url 'polls:pay' user.uuid 6 %}">半年</a></td>
          <td><a href="{{site}}{% url 'polls:pay' user.uuid 12 %}">1年</a></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>