<!doctype html>
<html lang="en">
  <style>
    table {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }

    table td {
      border: 1px solid black;
    }

    table th {
      border: 1px solid black;
    }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

    <p>您的訂閱請見附件</p>
    <h2>今日更新 2019-11-18 <a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/subscribe/?email=xxx@gmail.com&key=kdljfsdl">更改訂閱</a></h2>

    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">

    <h2>您的會員權利</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">可選期刊數</th>
          <th scope="col">已邀請好友</th>
          <th scope="col">訂閱結束時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3</td>
          <td>1</td>
          <td>2019-12-12</td>
        </tr>
      </tbody>
    </table>

    <p>(每<a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/invite">邀請一名好友</a>加入會員，可多解鎖一種期刊，上限5種)</p>

    <h2>續訂</h2>

    <table class="table">
      <tbody>
        <tr>
          <td><a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/pay">1個月</a></td>
          <td><a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/pay">3個月</a></td>
          <td><a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/pay">半年</a></td>
          <td><a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/pay">1年</a></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>