{% load static %}

<!doctype html>
<html lang="en">
  <style>
    .container {
      text-align:center;
    }
    table {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }

    table td {
      border: 1px solid black;
    }

    table th {
      border: 1px solid black;
    }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>会员充值</title>
  </head>
  <body>

    <div class="container">
    <table class="vip">
      <thead>
        <tr>
          <th scope="col">邮箱</th>
          <th scope="col">可选期刊数</th>
          <th scope="col">已邀请好友</th>
          <th scope="col">订阅结束时间</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.invited_count|add:3}}</td>
          <td>{{user.invited_count}}</td>
          <td>{{new_expire_date|date:"Y-m-d"}}</td>
        </tr>
      </tbody>
    </table>

    <h3> <font color="blue">没有比特币？截图分享此二维码邀请好友代付（付款成功约10分钟后您会收到确认邮件，请耐心等待） </font> </h3>

    <img src="{% static 'payments/' %}{{btc_address}}.svg" width="300" height="300">

    <p>{{price}}</p>
    </div>
  </body>
</html>
