<!doctype html>
<html lang="en">
  <style>
    table {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }

    table td {
      border: 1px solid black;
    }

    table th {
      border: 1px solid black;
    }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>會員充值</title>
  </head>
  <body>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">郵箱</th>
          <th scope="col">可選期刊數</th>
          <th scope="col">已邀請好友</th>
          <th scope="col">訂閱結束時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xxxxxx@gmail.com</td>
          <td>3</td>
          <td>1</td>
          <td>2019-12-12</td>
        </tr>
      </tbody>
    </table>

    <h3>沒有比特幣？截圖分享此二維碼邀請好友代付</h3>

    <img class="img-thumbnail mb-3" src="payrequest.png" alt="Album screenshot" width="480" height="300">

    <p>很遺憾我們不能接受其他形式的支付，為您帶來的不便深表歉意</p>
  </body>
</html>