<!doctype html>
<html lang="en">
  <style>
    table {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }

    table td {
      border: 1px solid black;
    }

    table th {
      border: 1px solid black;
    }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>訂閱成功</title>
  </head>
  <body>

  <h3>您已成功更改訂閱! <a href="{% url 'polls:invite_page' user.uuid %}">邀請好友</a>，解鎖更多期刊</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">郵箱</th>
          <th scope="col">可選期刊數</th>
          <th scope="col">已邀請好友</th>
          <th scope="col">訂閱結束時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.invited_count|add:3}}</td>
          <td>{{user.invited_count}}</td>
          <td>{{user.expire_date|date:"Y-m-d"}}</td>
        </tr>
      </tbody>
    </table>

    <h3>續訂</h3>

    <table class="table">
      <tbody>
        <tr>
          <td><a href="{% url 'polls:pay' user.uuid 1 %}">1個月</a></td>
          <td><a href="{% url 'polls:pay' user.uuid 3 %}">3個月</a></td>
          <td><a href="{% url 'polls:pay' user.uuid 6 %}">半年</a></td>
          <td><a href="{% url 'polls:pay' user.uuid 12 %}">1年</a></td>
        </tr>
      </tbody>
    </table>

    <h3>您的訂閱!</h3>

    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">
    <img src="images/IMG_4840.JPG" width="300" height="480">

  </body>
</html>