<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>subscribe_ok</title>
  </head>
  <body>

    <h3>您已成功更改訂閱! 邀請好友，解鎖更多期刊</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">郵箱</th>
          <th scope="col">可選期刊數</th>
          <th scope="col">已邀請好友</th>
          <th scope="col">訂閱結束時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xxxxxx@gmail.com</td>
          <td>3</td>
          <td>1</td>
          <td>2019-12-12</td>
        </tr>
      </tbody>
    </table>

    <h3>續訂</h3>

    <button type="button" class="btn btn-primary">1個月</button>
    <button type="button" class="btn btn-primary">3個月</button>
    <button type="button" class="btn btn-primary">半年</button>
    <button type="button" class="btn btn-primary">1年</button>

    <h3>您的訂閱!</h3>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <img class="img-thumbnail mb-3" src="IMG_4830.JPG" alt="Album screenshot" width="480" height="300">
          <h5 class="mb-1">Time</h5>
      </div>

      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <img class="img-thumbnail mb-3" src="IMG_4837.JPG" alt="Album screenshot" width="480" height="300">
          <h5 class="mb-1">Elle</h5>
      </div>

      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <img class="img-thumbnail mb-3" src="IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
          <h5 class="mb-1">Traveller</h5>
      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>