<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>更改訂閱</title>
  </head>
  <body>

    <h5>您的郵箱：xxxxxx@gmail.com</h5>

    <button type="button" class="btn btn-primary">更改訂閱</button>

    <h5>最多選擇3種期刊(<a href="http://ec2-54-91-6-66.compute-1.amazonaws.com:8000/polls/invite">邀請好友</a>，解鎖更多期刊)</h5>

    <h3>今日最新</h3>

    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">

    <h3>精品推薦</h3>

    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">
    <img class="img-thumbnail mb-3" src="images/IMG_4840.JPG" alt="Album screenshot" width="480" height="300">

  </body>
</html>