{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>更改訂閱</title>
  </head>
  <body>

    <h5>您的郵箱：{{user.email}}</h5>

    <form action="{% url 'polls:update_subscribe' user.uuid user.key %}" method="post">
      {% csrf_token %}
      <input type="submit" value="更改訂閱">

      <h2>{{error_info}}</h2>

      <h5>最多選擇3種期刊(<a href="{% url 'polls:invite_page' user.uuid %}">邀請好友</a>，解鎖更多期刊)</h5>

      <h3>今日最新</h3>

      {% for magazine in magazines %}
      {% if magazine.todayUpdated %}
        <br>
        <input type="checkbox" name="{{magazine.title}}">
        <h2>{{magazine.titleAndDate}}</h2>
        <img src="{% static 'images/' %}{{magazine.thumbnailPath}}" width="300" height="480">
      {% endif %}
      {% endfor %}

      <h3>精品推薦</h3>

    </form>

  </body>
</html>